<div class="grid">
  <div class="col-9">
    <span class="headerfont"> Hello</span> <span class="headerfont red"> Placeholder for Name</span>

  </div>
</div>


<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">NPS</a>
  <a href="#contact">Smart</a>
</div>

<table class="tabletop">
  <td class="tableone">Level</td>
  <td class="tabletwo">Date and Time</td>
  <td class="tableone">Source</td>
  <td class="tabletwo">Event ID</td>
  <td class="tableone">Task Category</td>

</table>
<!--
  odd ngfor will apply different
  <ng-container *ngFor="let detailof data.details; let index = index" [ngClass]="{'myStyle': 0 === index % 2}">...</ng-container>
-->
<div ng-app="myApp" ng-controller="customersCtrl">

  <table>
    <tr ng-repeat="x in names">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  </div>
